<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>495706644724-aef7aik019n3c5p238pnk7c49br9snsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.495706644724-aef7aik019n3c5p238pnk7c49br9snsr</string>
	<key>API_KEY</key>
	<string>AIzaSyDc_L8Zi4fWCwpNN45pTbPqP1QV4zzqPds</string>
	<key>GCM_SENDER_ID</key>
	<string>495706644724</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.ortiz.bryan</string>
	<key>PROJECT_ID</key>
	<string>wod-generator-eb509</string>
	<key>STORAGE_BUCKET</key>
	<string>wod-generator-eb509.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:495706644724:ios:76923be8af952b891efea1</string>
</dict>
</plist>